.dropdown {
  background-color: $whiteColor;
  border-radius: 20px;

  position: relative;

  height: fit-content;

  text-align: center;

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 20px 30px;

    height: 63px;

    background-color: $bacgkroundColor;
    background-image: url("./images/icons/dropdown.svg");
    background-repeat: no-repeat;
    background-position: right 30px center;
    border: 5px solid $whiteColor;
    border-radius: 20px;

    list-style: none;

    text-transform: uppercase;
    color: $redColor;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;

    @include onDesktop {
      justify-content: center;

      background-image: none;
    }
  }

  &__img {
    width: calc(100% - 40px);

    object-fit: contain;
    object-position: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: static;

    padding: 0 20px 20px;

    &--arena {
      margin-top: -40%;
    }
  }

  &__additionalContent {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    margin: 0 auto;

    width: calc(100% - 40px);
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    min-width: 55px;

    &::before {
      content: "";

      display: block;

      width: 40px;
      height: 40px;

      background-image: url("./images/games/icons/gamepad.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &--time {
      &::before {
        background-image: url("./images/games/icons/clock.svg");
      }
    }

    &--money {
      &::before {
        background-image: url("./images/games/icons/hand.svg");
      }
    }
  }

  &__links {
    display: flex;
    gap: 20px;
  }

  &__small {
    flex-grow: 1;
  }

  &__large {
    flex-grow: 2;
  }
}

.dropdown[open] > .dropdown__title {
  border-radius: 20px 20px 0 0;
  background-color: $whiteColor;
  background-image: url("./images/icons/dropdownActive.svg");

  color: $blackColor;
}
