.license {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  padding: 20px;

  background-color: $licenseColor;

  @include onDesktop {
    flex-direction: row;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include onDesktop {
      flex-direction: row;
    }
  }
}