.slider {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  &__item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__button {
    height: 60px;
    width: 60px;

    padding: 10px;

    position: absolute;
    right: -30px;

    border: none;
    border-radius: 30px;
    background-image: url("./images/slider/direction.svg");
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      transform: scale($buttonsScale);
    }

    &--back {
      left: -30px;

      background-image: url("./images/slider/back.svg");
    }
  }

  &__slides-order {
    display: flex;
    justify-content: center;
    gap: 10px;

    padding: 20px;

    @include onDesktop {
      justify-content: flex-start;

      padding: 20px 0 0 225px;
    }
  }

  &__slide-number {
    height: 12px;
    width: 12px;

    border-radius: 50%;

    background-color: $whiteColorOpacity;

    &--active {
      background-color: $whiteColor;
    }
  }
}
