@font-face {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/euclidCircularARegular.ttf") format("ttf");
}

h3 {
  font-size: 20px;
  line-height: 1.5em;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
}

p {
  font-size: 14px;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  line-height: 1.5em;
}

.bold {
  font-weight: 600;
}

.small {
  font-size: 14px;
  line-height: 1.25em;
}
