$sidePaddingMobile: 20px;

$whiteColor: #fff;
$whiteColorOpacity: rgba(255, 255, 255, 0.5);
$blackColor: #000;
$greyColor: rgba(0, 0, 0, 0.5);
$redColor: #ce2127;
$redColorOpacity: rgba(255, 255, 255, 0.3);
$bacgkroundColor: #eee;
$footerBackground: #070707;

$smallFont: 14px;

$iconsScale: 1.2;
$buttonsScale: 1.05;

$headerHeight: 50px;
$headerHeightDesk: 70px;
